:root {
  /* color */
  --background: #b6f500;
  --bg-2: #fffae9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
  /* font-family: "Archivo Black", sans-serif; */
  /* font-family: "Space Grotesk", sans-serif; */
  /* font-family: "Bricolage Grotesque", sans-serif; */
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.807) 1.5px,
    transparent 1.5px
  );
  background-size: 30px 30px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* tobbar */
.topbar {
  height: 220px;
  background-image: url("../p.png");
  background-repeat: repeat-x;
  background-size: 220px;
}

/* hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -170px;
}

.hero-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-items img {
  width: 180px;
  border-radius: 50%;
  border: 2px solid black;
}

.hero-items h1 {
  color:cornsilk;
  font-size: 20px;
  padding: 20px;
  font-weight: 700;
}

.hero-items p {
  font-family: "Space Grotesk", sans-serif;
  font-weight:600;
}

/* link */
.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.web {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffae9;
  padding: 10px 0;
}

.web i {
  font-size: 30px;
  padding: 10px
}

.web h2 {
  font-size: 20px;
  font-family: ;
}