:root {
  /* color */
  --background: #b6f500;
  --bg-2: #fffae9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.807) 1.5px,
    transparent 1.5px
  );
  background-size: 30px 30px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* tobbar */
.topbar {
  height: 250px;
  background-image: url("../p.png");
  background-repeat: repeat-x;
  background-size: 250px;
}
